/**/
#pergunta{
  width: 80vw;
  max-height: 45vh;
  margin-left: 10vw;
}
#pronto{
  background: rgb(181,61,38);
  background: linear-gradient(90deg, rgba(181,61,38,1) 10%, rgba(251,5,5,1) 49%, rgba(181,61,38,1) 100%);
  border: black;
}